.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-container .title-input {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;    
}

.title-container .title-input:focus {
    outline: none;
    border-color: #5d6770;
}

.title-container .title-input::placeholder {
    color: #ddd;
}

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  
  
  .message-container .message-input {
      width: 300px;
      height: 30px;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      font-size: 16px;    
  }
  
  .message-container .message-input:focus {
      outline: none;
      border-color: #5d6770;
  }
  
  .message-container .message-input::placeholder {
      color: #ddd;
  }

.btn-submit {
    background-color: #009879;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #5d6770;
}

